@use 'base/variables' as v;
@use 'base/mixins' as m;

.table {
    width: 100%;
    border-collapse: collapse;

    &__thead {
        background-color: #C5801A;
        color: v.$blanco;
    }

    &__th {
        padding: 1rem;
        text-align: center;
    }

    &__tr {
        text-align: center;
        
        &:nth-of-type(even){
            background-color: lighten(#FFC42A, 25%);
        }
    }

    &__td {
        padding: 1.5rem 1rem;

        &--acciones {
            @extend .table__td;

            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 2rem;
        }
    }

    &__accion {
        all: unset;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: v.$bold;

        &--editar {
            color: v.$azul;
        }

        &--eliminar {
            color: v.$rojo;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__imagen{
        width: 100px;
    }
}